* {
    font-family: "Montserrat", sans-serif;
}
h1, body{
    margin: 0;
}

.main {
    position: relative;
    header {
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 6rem;
    }
    .logo {
        margin: 1rem 0 1rem 5rem;
    }
    .nav {
    }
    .nav__list {
    }
    .nav__link {
        text-decoration: none;
        font-size: 1.2rem;
        color: black;
        margin-right: 3.5rem;
        padding: 1rem 0;
        transition: all 0.5s ease;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
            color: #004b27;
            transition: all 0.5s ease;
        }
        @media (max-width: 1800px) {
            margin-right: 2.5rem;
        }
        @media (max-width: 1200px) {
            font-size: 1rem;
            margin-right: 1rem;
        }
    }
    .nav__link--current {
        font-weight: 700;
        color: #004b27;
    }
    .address {
        margin-left: 8rem;
        @media (max-width: 1800px) {
            margin-left: 4rem;
        }
        @media (max-width: 1600px) {
            display: none;
        }
    }
    .address__city {
        font-size: 1.2rem;
        color: black;
    }
    .worktime {
        display: flex;
        font-size: 1.2rem;
        color: black;
        @media (max-width: 1600px){
            display: none;
        }
    }
    .worktime__days {
        margin-right: 1rem;
    }
    .worktime__time {
    }
    .contact {
    }
    .contact__icon {
    }
    .contact__tel {
        text-decoration: none;
        color: black;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        @media (max-width: 1200px){
            font-size: 1rem;
        }
    }
    & .contact__icon {
        margin-right: 0.3rem;
    }
    .online {
        display: flex;
        align-items: center;
        padding: 0 2.5rem 0 2.5rem;
        background-color: #004b27;
        height: 100%;
        color: white;
        & p {
            margin: 0 0.5rem 0 0;
            font-size: 1.5rem;
        }
        & a {
            text-decoration: none;
            text-transform: uppercase;
            color: white;
            font-size: 1.2rem;
            transition: 0.3s;
            &:hover{
                transition: 0.3s;
                text-decoration: underline;
            }
            @media (max-width: 1200px){
                font-size: 1rem;
            }
        }
        @media (max-width: 1800px) {
            padding: 0 1.5rem 0 1.5rem;
        }
    }
    .banner {
        background-image: url(../img/banner.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .banner__title {
        padding-top: 20rem;
        color: rgba(252, 252, 252, 0.8);
        font-weight: 900;
        font-size: 3.5rem;
        text-transform: uppercase;
        padding-left: 12rem;
    }
    .banner__decrtiption {
        font-size: 1.5rem;
        line-height: 2rem;
        color: white;
        font-weight: 300;
        width: 47%;
        margin-left: 12rem;
    }
    .banner__link {
        display: inline-block;
        margin-top: 3.5rem;
        margin-left: 12rem;
        border: 1px solid white;
        padding: 1.7rem 5.7rem;
        color: white;
        text-transform: uppercase;
        font-size: 1.2rem;
        margin-bottom: 18.6vw;
        text-decoration: none;
        transition: 0.3s;
        &:hover{
            background-color: rgba(255, 255, 255, 0.7);
            color: #004b27;
            transition: 0.3s;
        }
        @media (max-height: 1081px) {
            margin-bottom: 15.5rem;
        }
    }
    .social-links {
        position: absolute;
        bottom: 2rem;
        right: 3rem;
        & img{
            height: 4rem;
        }
        
    }
}
