* {
    font-family: "Montserrat", sans-serif;
}
h1, h2,
body {
    margin: 0;
}
body{
    scroll-behavior: smooth;
}

.main {
    position: relative;
    header {
        position: fixed;
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 6rem;
        z-index: 30;
        @media (max-width: 979px) {
            height: 5rem;
        }
        @media (max-width: 767px) {
            height: 3.6rem;
        }
    }
    .logo {
        margin: 1rem 0 1rem 5rem;
        @media (max-width: 979px) {
            margin: 1rem 0 1rem 1.5rem;
        }
        @media (max-width: 767px) {
            margin: 0.5rem 0 0.5rem 1.5rem;
        }
        & img {
            @media (max-width: 979px) {
                width: 7rem;
            }
            @media (max-width: 767px) {
                width: 6.5rem;
            }
        }
    }
    .nav {
    }
    .nav__list {
        @media (max-width: 767px) {
            display: none;
        }
    }
    .nav__link {
        text-decoration: none;
        font-size: 1.2rem;
        color: black;
        margin-right: 3.5rem;
        padding: 1rem 0;
        transition: all 0.5s ease;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
            color: #004b27;
            transition: all 0.5s ease;
        }
        @media (max-width: 1800px) {
            margin-right: 2.5rem;
        }
        @media (max-width: 1200px) {
            font-size: 1rem;
            margin-right: 0.5rem;
        }
    }
    .--current {
        font-weight: 700;
        color: #004b27;
    }
    .burger {
        display: none;
        margin-right: 2.5rem;
        @media (max-width: 767px) {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            &:before,
            &:after {
                content: "";
                background-color: #004b27;
                position: absolute;
                width: 100%;
                height: 3px;
                right: 0;
                transition: all 0.5s ease 0s;
            }
            &:before {
                top: 0;
            }
            &:after {
                bottom: 0;
            }
        }
        @media (max-width: 767px) {
            span {
                position: absolute;
                background-color: #004b27;
                left: 0;
                width: 100%;
                height: 3px;
                top: 9px;
                transition: all 0.5s ease 0s;
            }
        }
        &.active:before{
            @media (max-width: 767px) {
                transform: rotate(45deg);
                top: 9px;
            }
            
        }
        @media (max-width: 767px){
            &.active:after{
                transform: rotate(-45deg);
                bottom: 9px;
            }
        }
        &.active span{
            transform: scale(0);
        }
    }
    .address {
        margin-left: 8rem;
        @media (max-width: 1800px) {
            margin-left: 4rem;
        }
        @media (max-width: 1600px) {
            display: none;
        }
    }
    .address__city {
        font-size: 1.2rem;
        color: black;
    }
    .worktime {
        display: flex;
        font-size: 1.2rem;
        color: black;
        @media (max-width: 1600px) {
            display: none;
        }
    }
    .worktime__days {
        margin-right: 1rem;
    }
    .worktime__time {
    }
    .contact {
        @media (max-width: 767px) {
            display: none;
        }
    }
    .contact__icon {
    }
    .contact__tel {
        text-decoration: none;
        color: black;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        @media (max-width: 1200px) {
            font-size: 1rem;
        }
    }
    & .contact__icon {
        margin-right: 0.3rem;
    }
    .online {
        display: flex;
        align-items: center;
        padding: 0 2.5rem 0 2.5rem;
        background-color: #004b27;
        height: 100%;
        color: white;
        & p {
            margin: 0 0.5rem 0 0;
            font-size: 1.5rem;
        }
        & a {
            text-decoration: none;
            text-transform: uppercase;
            color: white;
            font-size: 1.2rem;
            transition: 0.3s;
            &:hover {
                transition: 0.3s;
                text-decoration: underline;
            }
            @media (max-width: 1200px) {
                font-size: 1rem;
            }
        }
        @media (max-width: 1800px) {
            padding: 0 1.5rem 0 1.5rem;
        }
        @media (max-width: 767px) {
            display: none;
        }
    }
    // Start monile menu
    .mobile-menu {
    }
    .mobile-menu__nav {
        position: fixed;
        top: -50%;
        width: 100%;
        transition: all 0.7s ease-in-out 0s;
        &.active{
            top: 0;
            background-color: white;
        }
    }
    .mobile-menu__nav__list {
        @media (max-width: 767px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 3.6rem;
        }
    }
    .nav__link {
        @media (max-width: 767px){
            margin-right: 0;
        }
    }
    .nav__link--current {
    }
    .banner {
        background-image: url(../img/banner.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 6rem;
        // @media (max-width: 979px){
        //     background-position: left;
        // }
        @media (max-width: 767px) {
            background-image: url(../img/banner-mobile.png);
            padding-top: 3.6rem;
        }
    }
    .banner__title {
        padding-top: 20rem;
        color: rgba(252, 252, 252, 0.8);
        font-weight: 900;
        font-size: 3.5rem;
        text-transform: uppercase;
        padding-left: 12rem;
        @media (max-width: 979px) {
            text-align: center;
            padding-left: 0;
            font-size: 2.5rem;
            padding-top: 10rem;
        }
        @media (max-width: 767px) {
            font-size: 1.6rem;
        }
    }
    .banner__decrtiption {
        font-size: 1.5rem;
        line-height: 2rem;
        color: white;
        font-weight: 300;
        width: 47%;
        margin-left: 12rem;
        @media (max-width: 979px) {
            text-align: center;
            width: auto;
            margin: 4rem auto 0;
            padding: 0 10rem;
        }
        @media (max-width: 767px) {
            padding: 0 2rem;
            font-size: 1rem;
            line-height: 1.65rem;
        }
    }
    .banner__link {
        display: inline-block;
        margin-top: 3.5rem;
        margin-left: 12rem;
        border: 1px solid white;
        padding: 1.7rem 5.7rem;
        color: white;
        text-transform: uppercase;
        font-size: 1.2rem;
        margin-bottom: 18.6vw;
        text-decoration: none;
        transition: 0.3s;
        &:hover {
            background-color: rgba(255, 255, 255, 0.7);
            color: #004b27;
            transition: 0.3s;
        }
        @media (max-height: 1080px) {
            margin-bottom: 15.5rem;
        }
        @media (max-width: 979px) {
            margin: 5rem 0 10rem 0;
            text-align: center;
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
            font-size: 1rem;
            padding: 1.4rem 4rem;
        }
        @media (max-width: 767px) {
            padding: 1rem 2.5rem;
            margin-bottom: 10rem !important;
            font-size: 0.8rem;
        }
    }
    .social-links {
        position: absolute;
        bottom: 2rem;
        right: 3rem;
        & img {
            height: 4rem;
            @media (max-width: 979px) {
                height: 3.5rem;
            }
            @media (max-width: 767px) {
                height: 3rem;
            }
        }
        @media (max-width: 979px) {
            right: 5rem;
        }
        @media (max-width: 767px) {
            right: 1rem;
        }
    }
}

.beauty {
    margin-top: 10rem;
    padding: 0 10rem;
    .beauty-content {
        display: flex;
        justify-content: space-between;
    }
    .beauty__slider {
        width: 100%;
    }
    .slide-1 {
        background: url('../img/krasa-slider.png') no-repeat;
        width: 100%;
        height: 100%;
        background-size: cover;
    }
    .beauty-descr {
        margin-left: 5rem;
    .beauty__header {
        background: url('../img/krasa-head.png') no-repeat;
    }
    .beuty__header__title {
        padding-top: 5rem;
        font-weight: 700;
        font-size: 2.5rem;
    }
    .beauty__text {
    }
    .beauty__list {
        & ul{
            list-style-image: url('../img/list-icon.png');
            & li{
                
            }
        }
    }
}
    .beauty__counter {
        display: flex;
        justify-content: space-between;
        margin-top: 5rem;
        & p{
            margin: 0 0 1rem 0;
        }
        @media (max-width: 767px) {
            flex-direction: column;
        }
    }
    .counter {
        // padding: 0 2rem ;
        flex: 33.3%;
        text-align: center;
        &.--center{
            border-left: 1px solid #333 ;
            border-right: 1px solid #333;
        }
    }
    .counter-value {
        font-size: 2rem;
    }
    .customers {
    }
    .counter-text {
        font-size: 1.2rem;
    }
    .workers {
    }
    .years {
    }
}